* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}
.menu .menu-item {
  padding: 0px 20px;
  margin-bottom: 0px;
}
.menu .menu-item .menu-link {
  width: 55px;
  height: 55px;
  display: block;
  text-align: center;
  border-radius: 50%;
  margin-left: auto;
}
.menu .menu-item .menu-link:hover {
  background-color: #cee9f9;
}
.menu .menu-item .menu-link:hover i {
  color: #1B95E0;
}
.menu .menu-item .menu-link:hover.box {
  display: block !important;
}
.menu .menu-item .menu-link i {
  color: #000;
  font-size: 25px;
  line-height: 55px;
}
.menu .menu-item .menu-link.active i {
  color: #1B95E0;
}
.menu .menu-item .box {
  display: none;
  padding: 20px;
  position: absolute;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #fff;
  margin-top: -240px;
  margin-left: 40px;
  width: 300px;
  border-radius: 10px;
  text-align: left;
  z-index: 9;
}
.menu .menu-item .box .name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}
.menu .menu-item .box .username {
  color: #999;
}
.menu .menu-item .box .bio {
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu .menu-item .box .folow {
  display: flex;
}
.menu .menu-item .box .folow a {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
.menu .menu-item .box .folow a span {
  color: #000 !important;
  font-weight: 600;
}
.menu .menu-item:hover .user-img-30 {
  border: 2px solid #1B95E0;
}
.menu .menu-item:hover .box {
  display: block;
}

.user-img-30 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 12px;
  border: 2px solid #fff;
}

.user-img-40 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.add-twit {
  background-color: #1B95E0;
  margin-top: 20px;
}
.add-twit i {
  color: #fff !important;
}
.add-twit:hover {
  background-color: #1677b2 !important;
}

.write-twit {
  padding: 20px 10px;
  display: flex;
  background-color: #fff;
}
.write-twit img {
  margin-bottom: 20px;
}
.write-twit textarea {
  border: 0;
  color: #999;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  outline: 0 none;
}

@media (min-width: 1200px) { 
  .card-columns {
      -webkit-column-count: 3; 
      -moz-column-count: 3; 
       column-count: 3; 
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
  }
  .card-columns .card {
      display: inline-block;
      width: 100%;
  }
}

@media (min-width: 992px) { 
  .card-columns {
      -webkit-column-count: 2; 
      -moz-column-count: 2; 
       column-count: 2; 
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
  }
  .card-columns .card {
      display: inline-block;
      width: 100%;
  }
}

@media (max-width: 992px) { 
  .card-columns {
      -webkit-column-count: 1; 
      -moz-column-count: 1; 
       column-count: 1; 
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
  }
  .card-columns .card {
      display: inline-block;
      width: 100%;
  }
}

/* mardown control */

.card-text img{
  max-height: 400px;
  max-width: 300px;
}